@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


#portfolio-body{
  /* width: 100vw; */
  /* height: 100vh; */
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}



#experience-head {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    margin-bottom: 30px;
}

#experience-head h2 {
    font-size: 24px;
    font-weight: bold;
}

.experience-card {
    background-color: #000000;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 6px 7px  rgb(85, 85, 85);
    color: #ffffff;
}

.experience-card h3 {
    font-size: 25px;
    font-weight: bold;
}
.experience-card h4 {
  font-size: 20px;
  /* font-weight: bold; */
}

.experience-cards {
  width: 100%;
  /* margin-left: 200px; */
}

.work-icon{
  color: #c0c0c0;
}
#experience-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; */
  width: 90%;
  margin-top: 0;
  margin-bottom: 20px;
}

#experience-section h1 {
  margin-top: 0px;
}

#experience-section p {
  font-weight: 500;
  /* color: #c1c1c1; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-size: large; */
}

#experience-para{
  /* font-size: 20px;
  font-weight: 500; */
  /* color: black; */
  font-family: 'Roboto Slab', serif;
  color: #000000;
  
}

.experience-card p {
  /* font-size: 18px; */
  /* font-weight: 500; */
  font-family: 'Montserrat', sans-serif;
  /* font-style: bold; */
  color: #c1c1c1;
}



.card-cont {
  display: flex;
  margin-left: 20px;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 1000px;
  /* border-left: 3px solid #000; */
}

#MAV-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.card {
  margin-top: 20px;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  text-align: center;
  margin: 0;
  width: 90%;
  font-size: 29px;
  color: #333;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 50%;
  /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  /* Set the desired text color */
  z-index: 3;
  /* z-index: 2; */
  font-family: 'Noto Sans KR', sans-serif;


}



.card:hover .card__title {
  display: none;
}

.card img {
  /* z-index: 15; */
}

.card p {
  /* margin-top: 0; */
}

.work-link svg {
  margin: 0;
  margin-top: 10px;
  scale: 2.2;
}

.work-link:hover svg {
  scale: 1.8;
  /* width: 40px; */
}

.card__description {
  margin: 10px 0;
  font-size: 18px;
  color: #5e5e5e;
  line-height: 1.4;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;

}

.cont h1 {
  text-align: left;
  /* background:rgba(255, 255, 255, 0.525);
  border-radius: 10px; */
  /* width: 230px; */
  text-shadow: #f2f2f2 1px 1px 0px;
  padding: 10px;
  margin-top: 50px;
  font-size: 60px;
  /* font-weight: 700; */
  color: #000000;
  font-family: 'lilita one', cursive;
  border-bottom: #000000 3px solid;
}



#work-head p {
  /* text-align: center;
  font-size: 20px; */
  font-weight: 500;
  color: #000000;
  font-family: 'Roboto Slab', serif;
}

.cont span {
  color: white;
  text-shadow: #000000 8px 1px 0px;
}

.cont #work-head p {
  font-size: large;
}

@media screen and (max-width: 1270px) {
  .cont {
    margin-top: 0px;
  }

  #work-head {
    position: relative;
    bottom: 30px;
  }

  .card-cont {
    /* width: 100%; */
    margin-left: 0px;
    position: relative;
    bottom: 30px;
    /* height: 200vh; */
  }

  /* .cont h1{
    font-size: 50px;
  }
  .cont #work-head p{
    font-size: medium;
  }
  .card-cont{
    width: 800px;
  }
  .card{
    width: 250px;
    height: 150px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__description {
    font-size: 12px;
  } */
}